$content-max-width: 1200px;
$content-padding-inline: 64px;

$font-national-park: "National Park" sans-serif;
$font-rubic:  "Rubik Mono One", monospace;
$font-quicksand: "Quicksand", sans-serif;

$button-font-size: 18px;

$color-light-purple: rgb(254, 75, 104);
$color-light-blue: rgb(0, 237, 255);
$color-blue-grey: rgb(42, 38, 57);
$color-light-grey: rgb(33, 35, 54);
$color-dark-grey: rgb(22, 22, 38);
$color-yellow-gold: rgb(248, 199, 30);

$nav-base-height: 50px;